<div class="header">

<h1>Add a new Park</h1>

</div>

<form action="/parks" method="post">

    <label for="name">Name:</label>
    <input type="inputbox" id="name" name="name" required="true">

    <label for="till">Till</label>
    <input type="number" id="till" name ="till" required = "true">

    <input type="submit" value="save">

</form>