<h1>Edit Park</h1>

<form action="/parks/$park.getId()" method="post">

    <label for="name">Name:</label>
    <input type="inputbox" id="name" name="name" value="$park.getName()">

    <input type="submit" value="save">

</form>