<p class="pageHeader">System Check</p>

<p>All Paddocks are Secure</p>

<table>

    <tr>
        <th>Number of Visitors</th>
        <th>Number of Staff</th>
    </tr>



    <tr>
        <td>$visitors.size()</td>
        <td>$staff.size()</td>


    </tr>

</table>