<p class="pageHeader">System Check</p>

<p>Nature Finds a way</p>

<table>

    <tr>
        <th>Number of Visitors Eaten</th>
        <th>Number of Staff Eaten</th>
        <th>Number of Paddocks Broken</th>
    </tr>



    <tr>
        <td>$visitors.size()</td>
        <td>$staff.size()</td>


    </tr>

</table>