<!DOCTYPE html>
<html>
<head>
    <title>Parks</title>
</head>
<body>
<!-- begin inner template-->

<a href="/parks">parks</a>
<br>
<a href="/paddocks">paddocks</a>
<br>
<a href="/visitors">Visitors</a>


<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>